/* General Form Styles */
form {
    max-width: 800px;
    margin: auto auto;
    padding-top: 100px;
    padding-bottom: 40px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
}

/* Input and Textarea Styles */
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Focus Styles for Input and Textarea */
form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.2);
}

/* Button Styles */
.form-submit-button {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    margin: 0;
    cursor: pointer;
    background-color: #242424;
    color: #fff;
    padding: 12px 26px;
    font-size: 20px;
    width: auto; 
    
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}
  

form button:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
    outline: 1px solid #242424;
}

/* Responsive Styles */
@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

